flask==3.1.2
flask_cors==6.0.2
flask_executor==1.0.0
flask_socketio==5.6.0
python-docx==1.1.0
openpyxl==3.1.2
PyPDF2==3.0.1
Pillow==10.1.0
pytesseract==0.3.10
python-dotenv==1.0.0
pyyaml==6.0.1
faker==22.0.0
eventlet==0.40.4